.add-news {
    &-block {
        margin-top: 1.5rem;

        h4 {
            margin-bottom: 3rem;
            font-weight: 700;
        }
    }

    &-btn {
        label {
            color: #fff
        }
    }
}

.news-descr {
    height: 200px !important;
}