.auth-block {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 50px;

    .card {
        width: 400px;

        &-title {
            margin-bottom: 2rem !important;
        }
    }

    .tab-list {
        text-align: center;
    }
}

.nav-wrapper {
    padding-left: 20px
}