.full-post-news {
    margin-top: 1.5rem;
    padding: 1.5rem;

    &__img {
        // height: 450px;
        margin: 0 auto;
        margin-bottom: 1rem;
        background-position: center center;
        background-size: cover;
        img {
            max-width: 100%;
            display: block;
            margin: 0 auto;
            // height: 100%;
        }
    }

    &__title {
        // padding: 1rem;
        font-size: 20px;
        text-align: center;
        text-transform: uppercase;
        font-weight: 700;
        margin-bottom: 1.5rem;
    }

    &__descr {
        // padding: 1rem;
    }
}