.full-post-news {
    padding: 1.5rem;

    &-block {
        background-color: #f2f2f2;
        padding-top: 1.5rem;
    }

    &__date {
        text-align: center;
        font-size: 1.2rem;
        margin-bottom: 1.2rem;
    }

    &__img {
        margin: 0 auto;
        margin-bottom: 1rem;
        text-align: center;
        img {
            max-width: 100%;
            height: auto;
        }
    }

    &__title {
        font-size: 2rem;
        text-align: center;
        text-transform: uppercase;
        font-weight: 700;
        margin-bottom: 1.5rem;
    }

    &__descr {
        padding: 1rem;
        font-size: 1.2rem;
    }

}
.mb-1 {
    margin-bottom: 1rem;
}
.mb-2 {
    margin-bottom: 2rem;
}
.fw-700 {
    font-weight: 700;
}