.products {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
}

.card-wrap {
  width: 250px;
  text-align: center;
  margin: 10px 0;
}

.card-image {
  width: 200px;
  margin: 0 auto;
  img {
    max-width: 100%;
  }
}
