.post {
    &-news {
        padding: 2.5rem;
        &__item {
            h5 {
                font-size: 15px;
                color: #000 !important;
                line-height: 24px;
            }
        }
        &__title {
            font-size: 20px;
            text-align: center;
            text-transform: uppercase;
            font-weight: 700;
            margin-bottom: 2rem;
        }

        &__descr {
            margin-bottom: 1rem;
        }

        &__btn {
            text-align: right;
            button {
                margin-left: .5rem;
            }
        }
    }
}